<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--===== CSS =====-->
    <link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="/buttonsAdditionalColors.css">
	<link rel="stylesheet" href="/inputFields.css" >
	<link href="/imageUploadStyle.css" rel="stylesheet">
    

    <title>Conzeptools Contact List</title>
    <script src="https://kit.fontawesome.com/555ba73a95.js" crossorigin="anonymous"></script>
</head>