<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>

		<div class="container">
			<div class="row">
				<h4>About this website</h4>
			</div>
		</div>
		
		<br><br>
		<div class="container">
			<div class="row">
				<h4>Oops! 404 - website not found.</h4>
			</div>
            <!--
			<br>
			<button type="button" class="btnDarkturquoise btn">
				Add Entry
			</button>
            -->
		</div>
			
	</body>
</html>